# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

#忽略上传的文件夹
**/build/**
**/lib/**
**/dist/**
**/test/**
**/.idea/**
**/target/**
**/node_modules/**
**/.vscode/**

#忽略上传的文件
**/yarn.lock
**/package-lock.json
**/.DS_Store
**/ncp-debug.log
**/npm-debug.log
**/yarn-error.log

#IDE
**/*.iml